.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.transparent-box {
  display: flex;
  /* flex-direction: column; */
  z-index: 10;
  position: absolute;
  width: 80%;
  height: 90%;
  padding: 20px;
  text-align: left;
  /* justify-content: space-between; */
  overflow: auto;
}

#input-block,
#output-block {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 10px;
  margin-bottom: 20px;
  padding: 15px;
  height: fit-content;
}

input {
  padding: 10px;
  margin: 5px 10px;
}

.buttons_cost {
  display: flex;
  flex-wrap: wrap;
  margin-top: auto;
  justify-content: space-between;
  position: relative;
}

/* button {
  padding: 10px 20px;
  margin: 0 10px;
} */

/* media() */
