.main-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.transparent-box {
  display: flex;
  flex-direction: column;
  z-index: 10;
  position: absolute;
  width: 80%;
  height: 90%;
  padding: 20px;
  text-align: left;
  justify-content: space-between;
}

.stepper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex: 1;
}

.step {
  padding: 10px;
}

.form{
  height:70%;
}

.step-content {
  display: none;
}

.step-content.active {
  display: block;
}

.label{
  width:100%;
  height: 50px;
}

h2{
  height:50px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  justify-content: end ;
}

button {
  padding: 10px 20px;
  margin: 0 10px;
}

