.main-content {
  background-color: #f8f1e9;
}

.transparent-box {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 20px;
  border: 2px solid #000;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.stepper {
  margin-bottom: 20px;
}

.step {
  border: 2px solid #c5a47e;
  border-radius: 50px;
  text-align: center;
  transition: all 0.3s ease;
}

.step.active {
  background-color: #c5a47e;
  color: #fff;
}

.stepper input[type="radio"] {
  display: none;
}

.stepper input[type="radio"]:checked + span {
  color: #c5a47e;
  font-weight: bold;
}

.stepper span {
  font-size: 14px;
  padding: 5px;
  border: 1px solid #c5a47e;
  border-radius: 50px;
  text-align: center;
  transition: all 0.3s ease;
}

.shipment-options {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

#map {
  border: 2px solid #000;
}

.option {
  width: 48%;
  padding: 10px;
  border: 2px solid #c5a47e;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.parcel-size {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.parcel-size input {
  width: 30%;
  padding: 10px;
  border: 2px solid #c5a47e;
  border-radius: 5px;
}

#map {
  border: 2px solid #c5a47e;
}

button {
  border: none;
  border-radius: 5px;
  background-color: #c5a47e;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #a68564;
}

button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
