header {
  text-align: center;
  background-color: #f4ebe4;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

header .logo {
  width: 50px;
  height: 60px;
}

header h1 {
  height: 50px;
  font-size: 2.2em;
  margin-top: 10px;
  color: #333;
}

.header-link {
  text-decoration: none;
  color: inherit;
}

.logo_name {
  display: flex;
  align-content: center;
  text-align: center;
}

/* .logo_name h1 {
  display: block;
  height: 50px;
} */

/* .header-link .header-content {
  display: flex;
  align-items: center;
} */
