/* header {
  height: 70px;
} */

nav {
  height: 60px;
}

main {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px - 60px);
  overflow: hidden;
}

footer {
  height: 100px;
}
